{% extends 'base.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="index.php">Accueil</a></li>
        <li class="active">Club</li>
    </ol>

    <div class="container">
        <h1 class="page-header">Buteurs</h1>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


            <div class="panel panel-uscl">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Buteurs Seniors
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <h1>Classements des buteurs<small> 	Seniors</small></h1>
                        <div class = "row">
                            <table id="buteurs-seniors" class = "text-center tableauButeur table table-responsive">
                                <thead>
                                    <tr>
                                        <th class = "text-center">Nom</th>
                                        <th class = "text-center">Buts en A</th>
                                        <th class = "text-center">Buts en B</th>
                                        <th class = "text-center">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for senior in seniors %}
                                    <tr>
                                        <td><a href="{{ path('profile', {'id': senior.id}) }}">{{ senior.nom }} {{ senior.prenom }}</td>
                                        <td>{{ senior.stats.butsA }}</td>
                                        <td>{{ senior.stats.butsB }}</td>
                                        <td>{{ senior.stats.butsA + senior.stats.butsB + senior.stats.butsCoupe }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-uscl">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Buteurs Veterans
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <h1>Classements des buteurs<small> 	Veterans</small></h1>
                        <div class = "row">
                            <table id="buteurs-veterans" class = "text-center tableauButeur table table-responsive">
                                <thead>
                                    <tr>
                                        <th class = "text-center">Nom</th>
                                        <th class = "text-center">Buts en Championnat</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for veteran in veterans %}
                                    <tr>
                                        <td><a href="{{ path('profile', {'id': veteran.id}) }}">{{ veteran.nom }} {{ veteran.prenom }}</td>
                                        <td>{{ veteran.stats.butsA }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-uscl">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            Buteurs Champ. Dimanche Matin
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <h1>Classements des buteurs<small> 	Champ. Dimanche Matin</small></h1>
                        <div class = "row">
                            <table class = "text-center tableauButeur3Colonnes table table-responsive">
                                <thead>
                                    <tr>
                                        <th class = "text-center">Nom</th>
                                        <th class = "text-center">Buts en championnat</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for cdmInfos in cdm %}
                                    <tr>
                                        <td><a href="{{ path('profile', {'id': cdmInfos.id}) }}">{{ cdmInfos.nom }} {{ cdmInfos.prenom }}</td>
                                        <td>{{ cdmInfos.stats.butsA }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-uscl">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                            Buteurs U19
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                        <h1>Classements des buteurs<small> 	U19</small></h1>
                        <div class = "row">
                            <table class = "text-center tableauButeur3Colonnes table table-responsive">
                                <thead>
                                    <tr>
                                        <th class = "text-center">Nom</th>
                                        <th class = "text-center">Buts en championnat</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for U19Infos in U19 %}
                                    <tr>
                                        <td><a href="{{ path('profile', {'id': U19Infos.id}) }}">{{ U19Infos.nom }} {{ U19Infos.prenom }}</td>
                                        <td>{{ U19Infos.stats.butsA }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-uscl">
                <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Buteurs U17
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body">
                        <h1>Classements des buteurs<small> 	U17</small></h1>
                        <div class = "row">
                            <table id="buteurs-veterans" class = "text-center tableauButeur table table-responsive">
                                <thead>
                                <tr>
                                    <th class = "text-center">Nom</th>
                                    <th class = "text-center">Buts en A</th>
                                    <th class = "text-center">Buts en B</th>
                                    <th class = "text-center">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for U17Infos in U17 %}
                                    <tr>
                                        <td><a href="{{ path('profile', {'id': U17Infos.id}) }}">{{ U17Infos.nom }} {{ U17Infos.prenom }}</td>
                                        <td>{{ U17Infos.stats.butsA }}</td>
                                        <td>{{ U17Infos.stats.butsB }}</td>
                                        <td>{{ U17Infos.stats.butsA + U17Infos.stats.butsB + U17Infos.stats.butsCoupe }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-uscl">
                <div class="panel-heading" role="tab" id="headingSix">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Buteurs U15
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                    <div class="panel-body">
                        <h1>Classements des buteurs<small> 	U15</small></h1>
                        <div class = "row">
                            <table id="buteurs-veterans" class = "text-center tableauButeur table table-responsive">
                                <thead>
                                <tr>
                                    <th class = "text-center">Nom</th>
                                    <th class = "text-center">Buts en A</th>
                                    <th class = "text-center">Buts en B</th>
                                    <th class = "text-center">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for U15Infos in U15 %}
                                    <tr>
                                        <td><a href="{{ path('profile', {'id': U15Infos.id}) }}">{{ U15Infos.nom }} {{ U15Infos.prenom }}</td>
                                        <td>{{ U15Infos.stats.butsA }}</td>
                                        <td>{{ U15Infos.stats.butsB }}</td>
                                        <td>{{ U15Infos.stats.butsA + U15Infos.stats.butsB + U15Infos.stats.butsCoupe }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.19/sorting/date-eu.js"></script>

    <script >
        $('.tableauButeur').DataTable( {
            "order": [[ 4, "desc" ]],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/French.json"
            },
            "autoWidth": false,
            "paging": false,
            "bInfo" : false,
            "searching" : false
        } );
    </script>

    <script >
        $('.tableauButeur3Colonnes').DataTable( {
            "order": [[ 3, "desc" ]],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/French.json"
            },
            "autoWidth": false,
            "paging": false,
            "bInfo" : false,
            "searching" : false
        } );
    </script>
{% endblock %}