{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('js/slick-1.8.1/slick/slick.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('js/slick-1.8.1/slick/slick-theme.css') }}"/>
{% endblock %}
{% block body %}
    <div class="container-fluid img-header">
        <div class="row">
            <img src="{{ asset('pictures/home-bandeau.png') }}" class="img-responsive">
        </div>
    </div>
    <div class="container">
        <h1 class="page-header">Bienvenue sur le site officiel du FC Saint-Cloud</h1>

        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Dernières actualités</h2>
            </div>
            <div class="your-class col-lg-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
                {% for actu in actus %}
                    <div class="col-lg-12 text-center">
                        <img class="img-responsive img-portfolio img-hover center-block" src="{{ asset('pictures/Actualites/') }}{{ actu.photo }}" alt="">
                        <a href="{{ path('actualite', {'id': actu.id}) }}"><h2>{{ actu.titre }}</h2></a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Les mots du président : Bernard Delaume</h2>
            </div>
            <div class="col-md-4 text-center">
                <img src="{{ asset('pictures/Accueil/'~ option.nomImage) }}" class="img-responsive img-circle col-md-12" alt="Responsive image">
            </div>
            <div class="col-md-8">
                <p class="text-justify lead">
                    {% autoescape 'html' %}
                        {{ option.motDuPresident|raw }}
                    {% endautoescape %}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Quelques chiffres</h2>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-line-chart" aria-hidden="true"></i> Evolution du nombre de licenciés</h4>
                    </div>
                    <div class="panel-body">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-users" aria-hidden="true"></i> Nombre d'équipes</h4>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            {% for nb_equipe in nb_equipes %}
                                <li class="list-group-item justify-content-between">
                                    {{nb_equipe.nom}}
                                    <span class="badge badge-nb-equipes badge-pill">{{nb_equipe.nombre}}</span>
                                </li>
                            {% endfor %}
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Dernières photos</h2>
            </div>
            {% for photo in photos %}
                {% if loop.index is divisible by(3) %}
                    <div class="row">
                {% endif %}
                <div class="col-md-4 col-lg-4 col-sm-6">
                    <a href="{{ asset('pictures/Accueil/') ~ photo.nom }}" data-toggle="lightbox">
                        <img class="img-responsive img-portfolio img-hover img-accueil" src="{{ asset('pictures/Accueil/') ~ photo.nom }}" alt="">
                    </a>
                </div>
                {% if loop.index is divisible by(3) %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Nos Partenaires</h2>
            </div>
            <img class="img-responsive img-portfolio img-hover" src="{{ asset('pictures/Accueil/'~ option.nomImagePartenaire) }}" alt="">
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('vendor/jquery/src/fotorama.js') }}"></script>
    <script src='{{ asset('vendor/moment/min/moment.min.js') }}'></script>
    <script src='{{ asset('vendor/fullcalendar/dist/fullcalendar.js') }}'></script>
    <script src='{{ asset('vendor/fullcalendar/dist/locale/fr.js') }}'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js.map'></script>
    <script>
        var ctx = document.getElementById("myChart").getContext('2d');

        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['10/11','11/12','12/13','13/14','14/15','15/16','16/17', '17/18'],
                datasets: [{
                    data: [501,517,556,594,703,657,655,634,],
                    borderWidth: 2,
                    backgroundColor: [],
                    lineTension: 0.1,
                    fill: false,
                    borderColor: "rgb(58, 83, 155)"
                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Quantité'
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Années'
                        }
                    }]
                }
            }
        });
    </script>
    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/slick-1.8.1/slick/slick.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('.your-class').slick({
                adaptiveHeight: true,
                autoplay: true,
                autoplaySpeed: 2000,
            });
        });
    </script>
{% endblock %}