{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('js/slick-1.8.1/slick/slick.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('js/slick-1.8.1/slick/slick-theme.css') }}"/>
{% endblock %}
{% block body %}
    <header class="business-header">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </header>
    <div class="container">
        <h1 class="page-header">Bienvenue sur le site officiel du FC Saint-Cloud</h1>

        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Les mots du président : Bernard Delaume</h2>
            </div>
            <div class="col-md-4 text-center">
                <img src="{{ asset('pictures/president.jpg') }}" class="img-responsive img-circle col-md-12" alt="Responsive image">
            </div>
            <div class="col-md-8">
                <p class="text-justify">« Le Football Club de Saint-Cloud a pour objectifs l’initiation pour les enfants à partir de 6 ans, la pratique en compétition pour les adolescents et adultes, avec une mission éducative et sportive, dans une ambiance de plaisir, de convivialité et d’amitié. <br>
                    L’association compte actuellement 650 licenciés avec plus de 20 équipes évoluant chaque week-end en championnat départemental et  régional.<br>
                    La montée en division supérieure est un objectif pour chaque équipe engagée en compétition. Le club s’appuie pour cela sur la qualité, l’engagement et la solidarité de tous les éducateurs.<br>
                    Qu’ils en soient remerciés ainsi que tous ceux qui participent à la vie du club : les joueurs, les dirigeants, les bénévoles, les partenaires, sans oublier le secretariat et la Mairie de Saint-Cloud ainsi que ses adjoints.<br>
                    C’est dans cet esprit que ce sera toujours un plaisir de pratiquer le football à Saint-Cloud.
                    »</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Dernières actualités</h2>
            </div>
            <div class="your-class col-lg-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
                {% for actu in actus %}
                    <div class="col-lg-12 text-center">
                        <img class="img-responsive img-portfolio img-hover center-block" src="{{ asset('pictures/Actualites/') }}{{ actu.photo }}" alt="">
                        <a href="{{ path('actualite', {'id': actu.id}) }}"><h2>{{ actu.titre }}</h2></a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Quelques chiffres</h2>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-line-chart" aria-hidden="true"></i> Evolution du nombre de licenciés</h4>
                    </div>
                    <div class="panel-body">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-users" aria-hidden="true"></i> Nombre d'équipes E.D.F</h4>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item justify-content-between">
                                U13
                                <span class="badge badge-U13 badge-pill">3</span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                U12
                                <span class="badge badge-U12 badge-pill">2</span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                U11
                                <span class="badge badge-U11 badge-pill">4</span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                U10
                                <span class="badge badge-U10 badge-pill">4</span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                U9
                                <span class="badge badge-U9 badge-pill">1</span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                U8
                                <span class="badge badge-U8 badge-pill">1</span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                U7
                                <span class="badge badge-U7 badge-pill">1</span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                U6
                                <span class="badge badge-U6 badge-pill">1</span>
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-calendar" aria-hidden="true"></i> Calendrier des entraînements E.D.F </h4>
                    </div>
                    <div class="panel-body">
                        <div id='calendar'></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Dernières photos</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="https://via.placeholder.com/700x450" data-toggle="lightbox">
                    <img class="img-responsive img-portfolio img-hover" src="https://via.placeholder.com/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="https://via.placeholder.com/700x450" data-toggle="lightbox">
                    <img class="img-responsive img-portfolio img-hover" src="https://via.placeholder.com/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="https://via.placeholder.com/700x450" data-toggle="lightbox">
                    <img class="img-responsive img-portfolio img-hover" src="https://via.placeholder.com/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="https://via.placeholder.com/700x450" data-toggle="lightbox">
                    <img class="img-responsive img-portfolio img-hover" src="https://via.placeholder.com/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="https://via.placeholder.com/700x450" data-toggle="lightbox">
                    <img class="img-responsive img-portfolio img-hover" src="https://via.placeholder.com/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="https://via.placeholder.com/700x450" data-toggle="lightbox">
                    <img class="img-responsive img-portfolio img-hover" src="https://via.placeholder.com/700x450" alt="">
                </a>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('vendor/jquery/src/fotorama.js') }}"></script>
    <script src='{{ asset('vendor/moment/min/moment.min.js') }}'></script>
    <script src='{{ asset('vendor/fullcalendar/dist/fullcalendar.js') }}'></script>
    <script src='{{ asset('vendor/fullcalendar/dist/locale/fr.js') }}'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js.map'></script>
    <script>
        var ctx = document.getElementById("myChart").getContext('2d');

        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['10/11','11/12','12/13','13/14','14/15','15/16','16/17', '17/18'],
                datasets: [{
                    data: [501,517,556,594,703,657,655,634,],
                    borderWidth: 2,
                    backgroundColor: [],
                    lineTension: 0.1,
                    fill: false,
                    borderColor: "rgb(58, 83, 155)"
                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Quantité'
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Années'
                        }
                    }]
                }
            }
        });
    </script>
    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                header: false,
                columnFormat: 'dd',
                allDaySlot: false,
                defaultView: 'agendaWeek',
                minTime: '9:00:00',
                maxTime: '19:00:00',
                weekends:false,
                height: 'auto',
                events: [
                    {
                        start: '13:30',
                        end: '15:15',
                        dow: [ 3 ],
                        backgroundColor: '#BC290A'
                    },
                    {
                        start: '17:00',
                        end: '18:15',
                        dow: [ 1 ],
                        backgroundColor: '#F3C313'
                    },
                    {
                        start: '9:00',
                        end: '10:30',
                        dow: [ 3 ],
                        backgroundColor: '#F3C313'
                    },
                    {
                        start: '17:00',
                        end: '18:15',
                        dow: [ 1 ],
                        backgroundColor: '#91F313'
                    },
                    {
                        start: '10:30',
                        end: '12:00',
                        dow: [ 3 ],
                        backgroundColor: '#91F313'
                    },
                    {
                        start: '15:15',
                        end: '17:00',
                        dow: [ 3 ],
                        backgroundColor: '#A9A9A9'
                    },
                    {
                        start: '17:00',
                        end: '18:15',
                        dow: [ 4 ],
                        backgroundColor: '#A9A9A9'
                    },
                    {
                        start: '17:00',
                        end: '19:00',
                        dow: [ 3 ],
                        backgroundColor: '#008B8B'
                    },
                    {
                        start: '17:00',
                        end: '18:15',
                        dow: [ 5 ],
                        backgroundColor: '#008B8B'
                    }
                ]
            });

        });
    </script>
    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/slick-1.8.1/slick/slick.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('.your-class').slick({
                adaptiveHeight: true,
                autoplay: true,
                autoplaySpeed: 2000,
            });
        });
    </script>
{% endblock %}