{% extends 'base.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="index.php">Accueil</a></li>
        <li class="active">{{secretariat.titre}}</li>
    </ol>
    <div class="container">
        <div class="row">
            <h1 class="page-header">{{secretariat.titre}}</h1>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive center-block" src="{{ asset('pictures/Secretariat/') }}{{ secretariat.image }}">
            </div>
        </div>
        <br>
        <div class="row text-center">
            <div class="col-lg-12">
                {{ secretariat.texte|raw }}
            </div>
        </div>
    </div>
{% endblock %}