{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="index.php">Accueil</a></li>
        <li>Statistiques</li>
        <li class="active">{{ categorie }}</li>
    </ol>

    <div class="container my-custom-container">
    <h1 class="page-header">Statistiques</h1>
    <div class="row">
        <div class="col-sm-12 col-lg-5 col-lg-offset-1">
            <h2 class="page-header">Classement</h2>
            <table class="resultats table table-condensed classement">
                <thead>
                <tr>
                    <td>Pl</td>
                    <td>Equipe</td>
                    <td>Pts</td>
                    <td>Jo</td>
                    <td>G</td>
                    <td>N</td>
                    <td>D</td>
                    <td>F</td>
                    <td>BP</td>
                    <td>BC</td>
                    <td>Diff</td>
                </tr>
                </thead>
                <tbody>
                {% for equipe in classement.teams %}
                    <tr class="classement-tr">
                        <td>{{ loop.index }}</td>
                        <td>
                            {#<img data-toggle="tooltip" data-placement="top" title="{{ equipe.name }}" class="img-club mr-md-4" src="{{ asset('pictures/Logos/' ~ equipe.clubId ~ '.png') }}">#}
                            <span class="d-none d-lg-inline-block">{{ equipe.name|upper }}</span>
                        </td>
                        <td class="font-weight-bold">{{ equipe.rankingData.points }}</td>
                        <td>{{ equipe.rankingData.journees }}</td>
                        <td>{{ equipe.rankingData.victoires }}</td>
                        <td>{{ equipe.rankingData.nuls }}</td>
                        <td>{{ equipe.rankingData.defaites }}</td>
                        <td>{{ equipe.rankingData.forfaits }}</td>
                        <td>{{ equipe.rankingData.butsP }}</td>
                        <td>{{ equipe.rankingData.butsC }}</td>
                        <td>{{ equipe.rankingData.diff }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 col-lg-5">
            <h2 class="page-header">Résultats de la dernière journée</h2>
            {% if rencontres is not null and rencontres.events|length > 0 %}
                <table class="resultats table table-condensed classement table-sm">
                {% for resultat in rencontres.events %}
                    <tr>
                        <td>{{ resultat.date|date("d/m/Y") }}</td>
                        <td class="col-xs-3  col-lg-5"><img class="img-carriere" src="{{ asset('pictures/Logos/' ~ resultat.teams[0].clubId ~ '.png') }}"><span class="hidden-xs"> - {{ resultat.teams[0].name|upper }}</span></td>
                        {% if resultat.teams[0].score is not null %}
                            <td><span class="d-inline" style="white-space: nowrap;">{{ resultat.teams[0].score }} - {{ resultat.teams[1].score }}</span></td>
                        {% else %}
                            <td>VS</td>
                        {% endif %}
                        <td class="col-xs-3  col-lg-5 text-right"><span class="hidden-xs">{{ resultat.teams[1].name|upper }} - </span><img class="img-carriere" src="{{ asset('pictures/Logos/' ~ resultat.teams[1].clubId ~ '.png') }}"></td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-5 col-lg-offset-1">
            <h2 class="page-header">Prochaine Journée</h2>
            <table class="resultats table table-condensed classement">
                {% for agenda in agendas.events %}
                    <tr>
                        <td class="col-xs-3 col-lg-1">{{ agenda.date|date("d/m/Y") }}</td>
                        <td class="col-xs-3  col-lg-5"><img class="img-carriere" src="{{ asset('pictures/Logos/' ~ agenda.teams[0].clubId ~ '.png') }}"><span class="hidden-xs"> - {{ agenda.teams[0].name|upper }}</span></td>
                        <td class="col-xs-3  col-lg-1 text-center score">VS</td>
                        <td class="col-xs-3  col-lg-5 text-right"><span class="hidden-xs">{{ agenda.teams[1].name|upper }} - </span><img class="img-carriere" src="{{ asset('pictures/Logos/' ~ agenda.teams[1].clubId ~ '.png') }}"></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-sm-12 col-lg-5">
            <h2 class="page-header">Calendrier</h2>
            <select class="form-control"  id="selectEquipe" data-competition-id="{{ competitionId }}">
                {% for id, name in equipeListe %}
                    <option value={{ id }} data-href="{{ path('calendrier-par-equipe', {'equipe': id}) }}">{{ name }}</option>
                {% endfor %}
            </select>
            <div id="loaderCalendrier" class="d-flex justify-content-center m-4">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="table-responsive resultats mt-5">
                <table id="calendrier" class="table table-sm">
                    <tbody id="resultAjaxCalendrier">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
<script>
    var equipeId = $( "#selectEquipe" ).val();
    var categorie = $("#selectEquipe").data('competition-id');
    var getUrl = window.location;
    var baseUrl = getUrl.protocol + "//" + getUrl.host + "/";
    var route = baseUrl + 'get-calendrier-par-equipe/';
    $(document).ready( function () {
        $('#loaderCalendrier').show();
        refreshClassement(route, equipeId, categorie);
        $('#selectEquipe').change(function () {
            $('#loaderCalendrier').addClass('d-flex').removeClass('d-none');
            equipeId = $( "#selectEquipe" ).val();
            refreshClassement(route, equipeId,categorie);
        })
        function refreshClassement(route, equipeCourante, categorie){
            $.ajax({
                url: route + equipeCourante + '/' + categorie,
                type: "GET",
                success: function(data){
                    $('#loaderCalendrier').removeClass('d-flex');
                    $('#loaderCalendrier').addClass('d-none');
                    $("#resultAjaxCalendrier").html(data);
                }
            });
        }
    });
</script>
{% endblock %}